.main-container-review-item {
    height: 180px;
    width: 385px;
    display: flex;
    flex-direction: column;
}

.top-section-review-item {
    display: flex;
    flex-direction: row;
}

.user-avatar-review-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text-container-review-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: left;
    margin-left: 20px;
}

.username-review-item {
    color: #FFFFFF;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.user-job-review-item {
    color:#FFFFFFB2;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.body-review-item {
    color: #FFFFFF;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
}
.swiper-disabled-unique{
    transition: all ease-in-out 1s;
    filter: opacity(50%);
}